:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

html, body {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

/*              header component             */

.header {
  display: flex;
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100vw;
  justify-content: flex-end;
  background-color: inherit;
  z-index: 1;
}

.theme-button {
  margin-right: 10px;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(26, 26, 26, 0.75);
  cursor: pointer;
  transition: background-color 0.25s;
  padding: 10px;
}

button:hover {
  background-color: #0a6800;
}

/*              home component             */
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.profile-image {
  width: 50vw;
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 5vh;
}

.profile-image:hover {
  transform: scale(1.02);
}

.home-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 50px;
}

.sub {
  font-size: 25px;
}

.down-arrow {
  height: 10vh;
  max-width: 300px;
  width: 50vw;
  position: absolute;
  bottom: 30px;
  animation-duration: 1s;
  animation-name: wiggle-button;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

@keyframes wiggle-button {
  from {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

.about-container,
.projects-container,
.contact-container {
  height: 100vh;
  max-width: 100vw;
}