:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --theme-green: #0e8b00;
  --theme-dark: #1a1a1a;
  --theme-light: #f4f4f4;
  --scroller-width: 800px;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
}

html, body {
  margin: 0px;
  padding: 0px;
}


.main-page-scroller {
  max-width: var(--scroller-width);
  padding-bottom: 50px;
}

h1 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

h1,
h2,
h3 {
  margin: 0px;
  padding-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin: 0px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

/*              header component             */

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100vw;
  max-width: var(--scroller-width);
  z-index: 3;
  opacity: 1;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  border: 1px solid transparent;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  padding: 10px 0px 10px 0px;
}

.header button img {
  height: 30px;
  width: auto;
}

.header-button:hover {
  background-color: var(--theme-green);
}

/*              home component             */
.home-container {
  height: 100vh;
  min-height: 615px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 2s cubic-bezier(.3,.75,.41,.99) 0s 1 slide-in-from-top; /* https://cubic-bezier.com/ */
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.profile-image {
  width: 50vw;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5vh;
}

.profile-image:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 2em var(--theme-green));
}

.home-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 50px;
}

.sub {
  font-size: 25px;
}

.down-arrow {
  height: 10vh;
  max-width: 300px;
  width: 50vw;
  position: fixed;
  bottom: 30px;
  animation-duration: 1s;
  animation-name: wiggle-button;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

@keyframes wiggle-button {
  from {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

.about-container,
.projects-container,
.contact-container {
  padding: 50px 20px 0px 20px;
}

/*                About component             */
.skillbox-img {
  height: 50px;
  width: 50px;
}

.npm {
  height: auto;
  margin-bottom: 10px;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px;
}

.skills-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: inherit;
  font-weight: bold;
  transition: all 0.3s linear;
}

.skills-list a:hover {
  filter: drop-shadow(0 0 2em #00ff08aa);
  transform: scale(1.1);
}


/*      contact component         */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.contact-container p {
  padding-left: 10px;
}

.contact img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

.contact-icon-wrapper {
  width: 50px;
  height: 50px;
  padding-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

input {
  padding-left: 5px;
}

textarea {
  padding: 5px;
}

form button,
.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-green);
  border: 1px solid #231b1b;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  width: 110px;
  height: 40px;
  white-space: nowrap;
}

form button:hover {
  background-color: var(--theme-green);
}

/*                     toggle button                */

.theme-button label {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: var(--theme-light);
  border-radius: 15px;
  cursor: pointer;
}

.theme-button input {
  position: relative;
  display: none;
}

.slider {
  position: absolute;
  left: 0px;
  width: 50px;
  height: 24px;
  border-radius: 15px;
  transition: 0.3s;
}

.theme-button input:checked ~ .slider {
  background-color: var(--theme-dark);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: inset 7px -4px 0px 0px var(--theme-green);
  background-color: var(--theme-light);
  transition: 0.3s;
}

.theme-button input:checked ~ .slider::before {
  transform: translateX(20px);
  background-color: var(--theme-green);
  box-shadow: none;
}

.fade {
  position: fixed;
  height: 70px;
  width: 100vw;
  max-width: var(--scroller-width);
  top: 0px;
  z-index: 2;
}

.light {
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, 
                rgba(255,255,255,0) 10%, rgba(255,255,255,1) 60%);
}

.dark {
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, 
                rgba(26,26,26,0) 10%, rgba(26,26,26,1) 60%);
}

/*   Projects section    */
.project-button-icon {
  width: 35px;
  height: auto;
}

.project-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.project-gif {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.project-buttons {
  display: flex;
  gap: 10px;
}

.project-box {
  padding-bottom: 50px;
}

.github {
  width: 120px;
}